@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
.container{
    display: flex;
    flex-direction: column;
    margin: 0px;
    background: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    font-family:'Silkscreen', cursive;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    min-height: 10vh;
    border-bottom: 3px solid rgb(155, 155, 222);
}

.header-item{
    height: 50%;
}

.add-btn, .login-btn{
    font-family:'Silkscreen', cursive;   
    border: 5px solid rgba(93, 158, 241, 0.6);
    border-radius: 12px;
    font-size: 24px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #0c0d0d;
    background-color: transparent;
}
button:hover {
    box-shadow: 0 0 10px 0 #78a7e1 inset, 0 0 20px 2px #00d7c3;
    border: 3px solid #78a7e1;
  }


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.main{
    margin-top: 40px;
    text-align: center;
    min-height: 80vh;
}

.modal{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    border: 2px solid rgb(127, 126, 126);
    border-radius: 20px;
    z-index: 10;
    background-color: rgb(246, 248, 248);
    width: 300px;
    padding: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pop-up > input{
    border: 2px solid rgb(174, 171, 171);
    border-radius: 10px;
    margin-bottom:40px;
    padding: 5px;
    height: 30px;
    width:90%;
    text-align: center;
    font-family:'Silkscreen', cursive;
}

.read-check{
    display: flex;
    align-items: center;
    gap:10px;
}
.submit-btn{
    margin-top: 20px;
    height: 40px;
    border: 2px solid rgb(174, 171, 171);
    border-radius: 10px;
    background-color: lightgreen;
    width:40%;
    font-family:'Silkscreen', cursive;
}

.checkbox{
    width: 20px;
    height: 20px;
    accent-color: white;
}

#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: (0,0,0,0.5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}
